<h1>Pagina para recuperar Contraseña</h1>

<form method="post" action="/api/sessions/forgot-password">
        <input type="email" placeholder="Correo electronico" name="email">
    <br></br>
    <button type="submit">Restablecer contraseña</button>
</form>