<h1>Pagina de registro</h1>

<form method="post" action="/api/sessions/signup">
        <input type="text" placeholder="Primer nombre" name="first_name">
    <br></br>
        <input type="text" placeholder="Apellido" name="last_name">
    <br></br>
        <input type="email" placeholder="Correo electronico" name="email">
    <br></br>
        <input type="number" placeholder="Edad" name="age">
    <br></br>
        <input type="password" placeholder="Contraseña" name="password">
    <br></br>
    <button type="submit">Registrarse</button>
</form>

<br></br>
<a href="/api/sessions/github">
    <button>
        Iniciar sesión con GitHub
    </button>
</a>